name: Filesystem Consistency check
on:
  workflow_call:
    inputs:
      payload:
        default: ''
        required: false
        type: string
      runner:
        default: 'ubuntu-latest'
        required: false
        type: string
    secrets:
      custom-secrets:
        required: false
jobs:
  deploy:
    name: Check consistency from ${{ github.ref_name }}
    runs-on: ${{ inputs.runner }}
    concurrency: reusable-consistency-check-${{ github.ref_name }}
    env:
      custom-secrets: 'dummy'

    steps:
      - name: Prepare all secrets
        run: |
          if [ -n "${{ secrets.custom-secrets }}" ]; then
            CUSTOM_SECRETS=$(echo ${{ secrets.custom-secrets }} | base64 -di | base64 -di)
            echo "custom-secrets=$CUSTOM_SECRETS" >> $GITHUB_ENV  

            for key in $(echo "$CUSTOM_SECRETS" | jq -r 'keys[]'); do
              echo "::add-mask::$(echo "$CUSTOM_SECRETS" | jq -r --arg k "$key" '.[$k]')";
            done
          else 
            echo "custom-secrets=${{ toJSON(secrets) }}" >> $GITHUB_ENV; 
          fi
      - name: Prepare
        uses: saucal/action-bundle-prepare@v4
        with:
          git-token: ${{ fromJSON( env.custom-secrets ).CI_BOT_TOKEN || fromJSON( env.custom-secrets ).github_token }}
          branch: "${{ github.ref_name }}-built"


